<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcteam.gestapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permessi per accedere ad internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.mcteam.gestapp.Application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_circle_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan"
        tools:node="replace">
        <!-- Serve per risolvere il problema del crash per la creazione di stampe ed export ad excel
             Problema da API 24 in su
             https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en
         -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.mcteam.gestapp.Moduli.Login.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcteam.gestapp.Moduli.Home.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_home" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Login.RegistrationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_registration" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.SistemiAcitivity"
            android:configChanges="orientation"
            android:icon="@drawable/ic_accessibility_white_24dp"
            android:label="@string/title_activity_sistemi"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_configuration" />
        </activity>
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.RubricaSocietaActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/rubrica_societa"
            android:launchMode="singleTop" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.ModificaUtenteDialog"
            android:configChanges="orientation"
            android:label="@string/modifica_utente" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Home.UserInfoActivity"
            android:configChanges="orientation"
            android:label="@string/info_utente" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.VisualizzaActivity"
            android:configChanges="orientation"
            android:label="@string/visualizza_utente" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.EliminaActivity"
            android:configChanges="orientation"
            android:label="@string/elimina_utente" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.NuovoAccessoActivity"
            android:configChanges="orientation"
            android:label="@string/aggiungi_nuovo_accesso" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.VisualizzaSocietaActivity"
            android:configChanges="orientation"
            android:label="@string/visualizza_societa_activity" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.StampaAccessiActivity"
            android:configChanges="orientation"
            android:label="@string/stampa_accesso" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.NuovaSocietaActivity"
            android:configChanges="orientation"
            android:label="@string/nuova_societa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Sistemi.AdvanceSearchActivity"
            android:configChanges="orientation"
            android:label="@string/ricerca_avanzata_sistemi" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.RubricaNominativaActivity"
            android:configChanges="orientation"
            android:label="@string/rubrica_nominativa_name" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.ModificaSocietaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_modifica_societa"
            android:parentActivityName="com.mcteam.gestapp.Moduli.Gestionale.Societa.VisualizzaSocietaActivity" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.EliminaSocietaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_elimina_societa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.StampaSocietaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_stampa_societa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Societa.SocietaAdvanceSearchActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_societa_advance_search" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.VisualizzaNominativoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_visualizza_nominativo" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.ModificaNominativoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_modifica_nominativo" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.NuovoNominativoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_nuovo_nominativo" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.EliminaNominativoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_elimina_nominativo" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.StampaNominativoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_stampa_nominativo" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Nominativo.NominativiAdvanceSearch"
            android:configChanges="orientation"
            android:label="@string/title_activity_nominativi_advance_search" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.CommesseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_commesse" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.VisualizzaCommessaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_visualizza_commessa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.NuovaCommessaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_nuova_commessa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.EliminaCommessaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_elimina_commessa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.StampaCommessaActivity"
            android:configChanges="orientation"
            android:label="Stampa commessa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.RicercaAvanzataCommesseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_ricerca_avanzata_commesse" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.RubricaBanche.RubricaBanca"
            android:configChanges="orientation"
            android:label="@string/title_activity_rubrica_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.RubricaBanche.VisualizzaBancaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_visualizza_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.RubricaBanche.NuovaBancaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_nuova_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.RubricaBanche.EliminaBancaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_elimina_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.RubricaBanche.StampaBancaActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_stampa_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.RubricaBanche.RicercaAvanzataBanca"
            android:configChanges="orientation"
            android:label="@string/title_activity_ricerca_avanzata_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Allegati.AllegatiActivity"
            android:label="@string/title_activity_allegati" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Allegati.EliminaAllegatoActivity"
            android:label="@string/title_activity_elimina_allegato" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Allegati.NuovoAllegatoActivity"
            android:label="@string/title_activity_nuovo_allegato" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Allegati.RicercaAvanzataAllegati"
            android:label="@string/title_activity_ricerca_avanzata_allegati" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Commesse.StoricoCommesseActivity"
            android:label="@string/title_activity_storico_commesse" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.AssociazioniActivity"
            android:label="@string/title_activity_associazioni" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.VisualizzaAssociazioneActivity"
            android:label="@string/title_activity_visualizza_associazione" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.NuovaAssociazioneActivity"
            android:label="@string/title_activity_nuova_associazione" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.EliminaAssociazioneActivity"
            android:label="@string/title_activity_elimina_associazione" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.StampaAssociazioneActivity"
            android:label="@string/title_activity_stampa_associazione" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.AssociazioniRicercaAvanzataActivity"
            android:label="@string/title_activity_associazioni_ricerca_avanzata" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Gestionale.Associazioni.ConsulenteMultiSelectionDialog"
            android:label="@string/title_activity_consulente_multi_selection"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Produzione.Consuntivi.ConsuntiviMainActivity"
            android:label="@string/title_activity_consuntivi_main" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Produzione.Consuntivi.DayConsuntivoDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.PrimaNotaCassa.PrimaNotaCassaActivity"
            android:label="@string/title_activity_prima_nota_cassa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.PrimaNotaCassa.NuovoModifCassaActivity"
            android:label="@string/nuova_activity_prima_nota_cassa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.PrimaNotaCassa.VisualElimCassaActivity"
            android:label="@string/visulizza_activity_prima_nota_cassa" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.PrimaNotaBanca.PrimaNotaBancaActivity"
            android:label="@string/title_activity_prima_nota_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.PrimaNotaBanca.NuovoModifBancaActivity"
            android:label="@string/nuova_activity_prima_nota_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Amministrazione.PrimaNotaBanca.VisualElimBancaActivity"
            android:label="@string/visulizza_activity_prima_nota_banca" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Commerciale.Offerte.OfferteActivity"
            android:label="@string/title_activity_offerte" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Commerciale.Offerte.DettaglioOffertaActivity"
            android:label="@string/title_activity_dettaglio_offerta" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Commerciale.Offerte.NuovaModifOffertaActivity"
            android:label="@string/title_activity_nuova_offerta" />
        <activity
            android:name="com.mcteam.gestapp.Moduli.Commerciale.Offerte.VisElimPrintOffertaActivity"
            android:label="@string/title_activity_visual_offerta" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9113bc3bbbd5984e17523b4ae6e36d93f420617c" />
    </application>

</manifest>